.clickable.inf.breakInfinity {
    border-radius: 0;
    background: #ff9800;
    font-size: 50px;
    width: 300px;
}

.clickable.inf.breakInfinity:hover {
    transform: none;
    transition-duration: 0.1s;
    border-radius: 0;
    background: #000;
    color: #fff;
}

.infText {
    font-size: 30px;
    font-family: cursive;
    display: ruby;
}

.shake {
    transform: translate(var(--shakeX), var(--shakeY));
}