.reset.s {
    border-radius: 0;
}

.upgrade.s {
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    border-color: #fff;
    border: 1px solid;
}

.upgrade.s.locked {
    cursor: not-allowed;
    color: lightgrey;
    border-color: lightgrey;
}

.upgrade.s.can {
    border: 1px solid;
    color: #000;
}

.upgrade.s.can:hover {
    cursor: pointer;
}

.upgrade.s:not(.bought, .can) {
    border: 1px dashed;
}

.upgrade.s.bought {
    cursor: help;
}

.upgrade.s:hover {
    z-index: 2;
    transform: scale(1.15, 1.15);
}

.clickable.s {
    border-radius: 0%;
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.clickable.s.challenge {
    transition: 0.2s;
    animation: space 5s infinite;
}

.clickable.s.challenge.can:hover {
    transform: scale(1, 1);
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.milestone.s {
    width: 800px;
    padding-top: 5px;
    animation: spaceMilestone 5s infinite;
    border-radius: 0;
    border: 2px solid;
    border-color: #fff;
    background-color: #000;
    color: #fff;
}

.milestone.s:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.milestoneDone.s {
    width: 800px;
    padding-top: 5px;
    animation: spaceMilestoneDone 5s infinite;
    border-radius: 0;
    border: 2px solid;
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.milestoneDone.s:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.spaceTable {
    width: 50px;
    font-size: 20px;
    text-align: left;
}

.challengeTable {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.effectTable {
    display: inline-block;
    width: 80px;
    text-align: left;
}

@keyframes space {
    0% {
        box-shadow: inset 0 0 50px 0 white;
    }
    50% {
        box-shadow: inset 0 0 0px 0 white;
    }
    100% {
        box-shadow: inset 0 0 50px 0 white;
    }
}

@keyframes spaceMilestone {
    0% {
        box-shadow: inset 0 0 30px 0 white;
    }
    50% {
        box-shadow: inset 0 0 0px 0 white;
    }
    100% {
        box-shadow: inset 0 0 30px 0 white;
    }
}

@keyframes spaceMilestoneDone {
    0% {
        box-shadow: inset 0 0 30px 0 greenyellow;
    }
    50% {
        box-shadow: inset 0 0 0px 0 greenyellow;
    }
    100% {
        box-shadow: inset 0 0 30px 0 greenyellow;
    }
}

@keyframes spaceDimShift {
    0% {
        box-shadow: inset 0 0 30px 0 greenyellow;
    }
    50% {
        box-shadow: inset 0 0 10px 0 greenyellow;
    }
    100% {
        box-shadow: inset 0 0 30px 0 greenyellow;
    }
}